<app-toolbar></app-toolbar>

<div *ngIf="pending" fxLayoutAlign="center center" fxFlexFill>
    <mat-spinner></mat-spinner>
</div>
<div *ngIf=" !pending && !dataSource">
    <app-no-content></app-no-content>
</div>
<div *ngIf=" !pending && dataSource">
    <div fxLayout="row">
        <ng-container *ngTemplateOutlet="map"></ng-container>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Hotel Name</th>
            <td mat-cell *matCellDef="let element" [ngStyle]="{'backgroundColor': element.selected}"> {{element.name}}
            </td>
        </ng-container>

        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef> City </th>
            <td mat-cell *matCellDef="let element" [ngStyle]="{'backgroundColor': element.selected}">
                {{element.location.city}} </td>
        </ng-container>

        <ng-container matColumnDef="star_rating">
            <th mat-header-cell *matHeaderCellDef> Star </th>
            <td mat-cell *matCellDef="let element" [ngStyle]="{'backgroundColor': element.selected}">
                {{element.star_rating}} </td>
        </ng-container>

        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef> Total </th>
            <td mat-cell *matCellDef="let element" [ngStyle]="{'backgroundColor': element.selected}"> {{ element.total | currency }}
            </td>
        </ng-container>

        <ng-container matColumnDef="location_description">
            <th mat-header-cell *matHeaderCellDef> Description</th>
            <td mat-cell *matCellDef="let element" [ngStyle]="{'backgroundColor': element.selected}">
                {{element.location_description}} </td>
        </ng-container>
        
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" [ngStyle]="{'backgroundColor': element.selected}">
                <button mat-mini-fab color="primary" aria-label="Open in map" (click)="openInMap(element)">
                    <mat-icon>map</mat-icon>
                  </button>
                </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
       
<ng-template #map>
    <agm-map [latitude]="initMarkert.latitude" [longitude]="initMarkert.longitude" >
        <agm-marker *ngFor="let market of markets" [latitude]="market.latitude" [longitude]="market.longitude"
            (markerClick)="getMarkerClick($event, infowindow)">
            <agm-info-window [isOpen]="isMarkerOpen(market)" [closeWhenOthersOpen]="true" [closeOnMapClick]="true" #infowindow>
                <div>
                    <img [src]="market.image" alt="" style="max-width: 300px; max-height: 300px;"><br>
                    <p>
                        <strong>
                            <br>
                            Selected Hotel Information: <br>
                            Name: {{market.name}}<br>
                            City: {{market.city}}<br>
                            Star : {{market.star_rating}}<br>
                        </strong>
                    </p>
                </div>
            </agm-info-window>
        </agm-marker>
    </agm-map>
</ng-template>
   
