<div class="row" fxLayoutAlign="center center" fxFlexFill>
  <div class="col-sm-3"></div>
  <div class="col-sm-3">
    <div>
      <mat-card>
        <div *ngIf="pending" fxLayoutAlign="center center" fxFlexFill>
          <mat-spinner></mat-spinner>
        </div>
        <form *ngIf="!pending" fxLayoutAlign="stretch" fxLayout="column">
          <mat-form-field>
            <input type="text" name="airlineControl" placeholder="Airline *" matInput [(ngModel)]="airlineControl"
              (ngModelChange)="filter(airlineControl)" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let airline of filteroption" [value]="airline.display_name">
                {{airline.display_name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Employee Number *</mat-label>
            <input matInput placeholder="Employee Number" [(ngModel)]="employee_number" name="employee_number">
          </mat-form-field>
          <mat-form-field >
            <mat-label>Password * </mat-label>
            <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password">
          </mat-form-field>
          <button type="submit" mat-flat-button color="primary" (click)="Login()">Login</button>
        </form>
      </mat-card>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>